<h1>推し投稿一覧</h1>
<tbody>
  <tr>
    <td>投稿者名</td>
    <td><%#= link_to @book.user.name, public_user_path(@book.user) %></td>
  </tr>
  <tr>
    <td>題名</td>
    <td><%#= link_to @book.title, public_book_path(@book.id) %></td>
  </tr>
  <tr>
    <td>投稿者の感想</td>
    <td><%#= @book.body %></td>
  </tr>
  <tr>
    <td>書籍の推し画像</td>
    <td>
      <%# if @book.image.attached? %>
        <%#= image_tag @book.image, size: "150x150" %>
      <%# else %>
        <%#= image_tag 'no_image', size: "150x150" %>
      <%# end %>
    </td>
  </tr>
</body>